//colors

$black:  rgb(15, 15, 15);
$lBlack: rgba(15, 15, 15, 0.8);
$pink: rgb(255, 178, 185);
$lPink: rgba(255, 178, 185, 0.4);
$blueColor: #4976a3;
$white: #ffffff;

//fonts

//other
$border: 2px solid $pink;
$radius: 8px;
$radius-big: 24px;